<div id="home-content" class="page">

  <div class="full-screen">
    <div id="full-screen-section">

      <div class="top-content-section"></div>

      <div class="middle-content-section">
        <h2>Discover, Learn, Help</h2>
        <h1>with Positive Tourism</h1>
        <a routerLink="/tours" class="button large">See our tours</a>
      </div>

      <div class="bottom-content-section">
        <a routerLink="/" fragment="presentation"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60"
            viewBox="0 0 24 24">
            <path
              d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z" />
            </svg></a>
      </div>

      <!-- <figcaption class="middle-content-section orbit-caption">
        <h2>Make a difference,</h2>
        <h1>with Positive Tourism</h1>
      </figcaption> -->

    </div>
  </div>

  <div class="main-content">

    <section id="presentation">
      <div class="container">
        <div id="small-container">
          <p class="subheader text-center">Want to know if you should</p>
          <h2 class="margin-bottom text-center">Try Positive Tourism ?</h2>
          <div *ngFor="let label of labels">
            <app-checkbox-text [label]="label"></app-checkbox-text>
          </div>
          <div id="last-question" class="margin-top">
            What about doing all that and make an entire community benefit from it ?
          </div>
        </div>
      </div>
    </section>

    <section>
      <app-text-slideshow [slides]="textSlides"></app-text-slideshow>
    </section>

    <section>
      <div class="container vertical-margin text-center">
        <p class="subheader">What is the purpose of</p>
        <h2>#PositiveTourism ?</h2>
        <p class="margin-bottom">
          We aim to support Positive Tourism. By using this website, you can now access, <br>
          direct and free of charge, positive tour organisers. <br>
          We lived the adventure for every trip that we introduce to you !
        </p>
        <p id="ps" class="text-center">
        </p>

        <a routerLink="/tours" class="button large">See our tours</a>
        <p><a routerLink="/about" class="hollow button large">Learn more about us</a></p>

      </div>
    </section>

    <section class="container light-bg box-shadow">
      <div class="why why-content vertical-padding grid-x">
        <div class="cell medium-6 why-content">
          <p class="subheader">How can it</p>
          <h2>Benefit YOU ?</h2>
          <ul class="">
            <li class="why-more">
              Discover idyllic locations
            </li>
            <li class="why-more">
              Live a one-of-a-kind experience
            </li>
            <li class="why-more">
              Meet welcoming communities
            </li>
            <li class="why-more">
              Live to the rhythm of an other culture
            </li>
            <li class="why-more">
              Volunteer your time
            </li>
            <li class="why-more">
              And so much more !
            </li>
          </ul>
          <div class="">
            <a href="https://youtu.be/0FefPrlW9uk" class="hollow button" target="blank">See for yourself what a tour is
              like!</a>
          </div>
        </div>

        <div class="cell medium-6 why-content">
          <p class="subheader">How can it</p>
          <h2>Benefit OTHERS ?</h2>
          <ul class="">
            <li class="why-more">
              Preserve local culture
            </li>
            <li class="why-more">
              Support community-led projects
            </li>
            <li class="why-more">
              Create alternative sources of employment
            </li>
            <li class="why-more">
              Improve the livelihood of others
            </li>
            <li class="why-more">
              Protect the environment
            </li>
            <li class="why-more">
              And so much more !
            </li>
          </ul>
          <div class="">
            <a href="https://youtu.be/p_MEKSSnxxU" class="button" target="blank">Discover an interview of locals</a>
          </div>
        </div>
      </div>

    </section>

    <section class="container">
      <div class="vertical-margin">
        <p class="subheader">Featured Tour</p>
        <h2>Indonesia - East Java</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
          <br>
          Because a video says more than a long speech, please enjoy yourself and <a routerLink="/east-java">check out
            this tour</a>.
        </p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0FefPrlW9uk?start=2" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="vertical-margin">
        <p class="subheader">Featured Testimony</p>
        <h2>Incredible !</h2>
        <div class="rating">
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
        <q>
          Lorem Ipsum is simply dummy text of the <strong>printing and typesetting industry.</strong> Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          <strong>electronic typesetting, remaining essentially unchanged.</strong> It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
          software like Aldus PageMaker including <strong>versions of Lorem Ipsum</strong>.
        </q>
        <p>-- Robert, L. Peoria, Illinois, USA</p>
      </div>
    </section>

    <section class="call-to-action light-bg">
      <div class="container grid-x">
        <div class="cell medium-3">
          <img class="rounded" src="assets/images/indonesian-children.jpg" alt="volonteers">
        </div>
        <div class="cell medium-9 text-center">
          <h2>Ready to make a difference ? Find a tour !</h2>
          <p>
            Live an amazing trip while maximizing social and economic benefits to the local communities and preserving
            the culture and environment of the places you visit.
          </p>
          <a routerLink="/tours" class="button large">Discover the tour that best suits you ...</a>
        </div>
      </div>
    </section>

  </div>

</div>
