<div id="footer">

  <p class="text-center">Feel free to drop us a line on
    <a  target="_blank"
        href="https://m.me/333525563936059"
        alt="contact using messenger"
    >messenger</a>
    <br>
    or send us an
    <a  target="_blank"
        href="mailto:contact@haredev.com"
        alt="contact by email"
    >email</a>
    .
  </p>

  <div class="fb-like" data-href="https://m.facebook.com/Positive-Tourism-333525563936059/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

  <p id="copyright-and-privacy">
    Positive Tourism © 2019. All right reserved.
    <a href="/privacy-policy"> Privacy Policy</a>
  </p>


</div>
