<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width slides/quotes -->
  <div *ngFor="let slide of slides; let index = index;">
    <div class="mySlides" [ngClass]="{'selected': slideIndex == index}">
      <p [innerHTML]="slide"></p>
    </div>
  </div>

  <!-- Next/prev buttons -->
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots/bullets/indicators -->
<div class="dot-container">
  <span
    *ngFor="let slide of slides; let index = index;"
    class="dot" (click)="currentSlide(index)"></span>
</div>
