<div class="vertical-margin">
  <div class="container">
    <h2>
      <span class="larger">#</span>PositiveTourism
    </h2>
    <p>
      To us, positive tourism is a <strong>way of travelling with a mindfulness</strong> to respect,
      learn and grow from the local traditions and communities that you travel to.
      It <strong>intertwines travel with an indepth cultural experience </strong>
      that is interactive and hands-on.
    </p>
    <p>
      Not only does positive tourism ensures cross-cultural
      understanding and mutual respect, this type of travelling makes sure that the <strong>local community
      will directly benefit from the economic benefits of tourism</strong>. By using traditional transportation,
      locals as guides, and local accommodation, money is always put back into the pockets of the locals.
      This creates jobs, redistribution of income and decreases poverty.
    </p>
    <p>
      On a larger scale, this paves the
      way for increased community spending on important infrastructure projects such as roads, schools,
      sanitation and environmental sustainability. We believe this will inspire pride in one’s culture and
      home, ultimately <strong>preserving the diversity that makes this world so beautiful</strong>.
    </p>
  </div>
</div>

<div class="vertical-margin" id="mission">
  <div class="container">
    <h2>
      <span class="larger">#</span>Mission
    </h2>
    <p>
      Our <strong>mission</strong>, is simply, to use positive tourism to <strong>inspire a movement
      of global citizenship</strong>.
    </p>
    <p>
      We believe that a global citizen is someone who identifies themselves as being a member of a single,
      borderless global community and wants to have an active role in building its values to benefit everyone.
      Positive tourism <strong>connects travellers and locals</strong> on a more personal level, quickly
      closing the cultural gaps between them. Travellers gain a <strong>unique understanding</strong> about
      the daily lives of locals, and the hardships they face. We believe by seeing this first-hand,
      prejudices about culture, religion, race and nationality disappear. Instead, empathy, admiration
      and gratitude are felt for those we <strong>meet while traveling</strong>, and as well, for their culture and the
      country they live in.
    </p>
    <p>
      For this reason, positive tourism must be used as an <strong>important tool
      to educate ourselves and others</strong> on how we can better contribute to our global community.
      It is our hope, that this gained perceptive will transcend globally to inspire universal cooperation
      and compassion that will make the world a <strong>better place</strong> to live in for all of us. In
      this way, we strongly believe that positive tourism can create effective global citizens and be a
      major driver of world peace.
      </p>
  </div>
</div>

<div class="vertical-margin">
  <div class="container">
    <h2>
      <span class="larger">#</span>How
    </h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</div>
