<div class="page container margin-top">
  <p>
    <a [routerLink]="['/', tour.url]" target="blank">{{ tour.name }}</a>
  </p>

  <a [routerLink]="['/', tour.url]" target="blank" class="card">
    <div class="overlay">
      <div class="card-text">
        <h3 class="card-title">
          {{ tour.overviewTitle }}
        </h3>
        <h3 class="card-subtitle">
          {{ tour.overviewSubtitle }}
        </h3>
      </div>
    </div>
    <div class="card-img">
      <img width="952" height="509" [src]="tour.overviewImage">
    </div>
  </a>
</div>
