/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

@font-face {
    font-family: 'bariol';
    src: url('/assets/fonts/bariol.woff');
}
@font-face {
    font-family: 'bariol-i';
    src: url('/assets/fonts/bariol-i.woff');
}

app-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

app-tour-detail + app-menu {
  display: none;
}

app-tour-detail ~ app-footer {
  display: none;
}

.page {
  margin-top: 59px;
}

html, body {
    height: 100%;
}
body {
  font-family: 'bariol';
  font-size: 1.3rem;
  color: $color-dark;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'bariol';
    font-weight: bold;
    color: $color-primary;
}

.display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}

.larger {
  font-size: larger;
}

.text-center {
  text-align:center;
}

.container {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.vertical-margin {
  margin-top: 4.6rem;
  margin-bottom: 4.6rem;
}

.vertical-padding {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.rounded {
  border-radius: 50%;
}

.call-to-action {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.light-bg {
  background-color: $color-light;
}

.button {
  border-radius: 1.875rem;
  padding: .85em 1.5em;
}

.box-shadow {
  box-shadow: 0.3125rem 0.625rem 1.125rem #888888;
}
.box-shadow:hover {
  box-shadow: 0.3125rem 1.25rem 2.25rem #888888;
}

.subheader {
  color: $color-secondary;
}
