$color-primary: #161618;
$color-secondary: #1779ba;
$color-dander: red;
$color-light: #f6f7f8;
$color-dark: #666666;
$color-white: #fff;
$hero-full-screen-bg: url('/assets/images/indonesian-children.jpg') center center no-repeat;
$hero-full-screen-bg-size: cover;
